{% extends 'base.html.twig' %}



{% block content %}
<div id="contain">
    <div id="contain3" class="">

         {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        <div class="form-box" id="login-box">
                            <div class="alert alert-danger alert-dismissable">
                                <i class="fa fa-ban"></i>
                               <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                            <b>Error! </b>{{ message }}
                            </div>
                        </div>
             {% endfor %}
            {% endfor %}
    </div>
    <br>&nbsp;</br>

    <div id="contain2" class="login-logo center"><img id="logo" src="https://sohiscert.com/wp-content/uploads/2018/07/logo-vector-sohiscert.jpg"></div>
        <br>&nbsp;</br>
        <div class="center" align="center">Área Privada de Clientes</div>
        <br>&nbsp;</br>
        <div class="login-logo center"><img id="avatar" src="https://sohiscert.com/wp-content/uploads/2018/07/avatar.png"></div>
        
        <div id="login-box">
            <div class="login-box-msg">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': username}, 'message') }} |
                    <a href="{{ path('security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'message') }}
                    </a>
                {% else %}
                    <div id="conozca-beneficios">¡Tus ventajas te estan esperando!</div>
                {% endif %}
            </div>
        
           
            <div id="entrar" class="login-logo2 center">Entrar</div>
            <form action="{{ path("security_login") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                           required="required" placeholder="Usuario"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" required="required"
                           placeholder="Contraseña"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >

                <div class="footer">
                    <input type="submit" id="_submit" name="_submit" value="Acceder"
                           class="btn btn-primary btn-block btn-flat"/>
                </div>
            </form>

            <br>&nbsp;</br>

            <a target="_blank" href="{{ path('resetting_request') }}">¿Olvidó su contraseña?. <b>Pinche aquí</b></a>

            <br>&nbsp;</br>
            <div id="conozca-beneficios"><a target="_blank" href="http://intranet-pre-intranetshc.e4ff.pro-eu-west-1.openshiftapps.com/public/docs/VentajasAreaPrivada.pdf"> Conozca los Beneficios del Uso del Área Privada de Clientes </a></div>
            <div id="conozca-beneficios"><a target="_blank" href="http://intranet-pre-intranetshc.e4ff.pro-eu-west-1.openshiftapps.com/public/docs/ManualdeUsuarioWebAreaClientesSohiscert.pdf"> Manual de Usuario del Área Privada de Clientes </a></div>
        </div>
    </div>
</div>
{% endblock %}