{% extends 'base_full.html.twig' %}


{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Operadores
            <small> Búsqueda de operadores</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-group"></i> Operadores </a></li>
            <li class="active"> Búsqueda</li>
        </ol>
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title">Búsqueda de Operadores </h3>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            <b></b>{{ message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding buscador">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action="{{ path('admin_operator_searchresult') }}" method="POST"
                                      id="searchForm">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label> CIF</label>
                                            <input type="text" id="opCif" name="opCif" class="form-control"
                                                   placeholder="CIF"
                                                   value="">
                                        </div>
                                        <div class="form-group">
                                            <label> Denominación</label>
                                            <input type="text" id="opDenoop" name="opDenoop" class="form-control"
                                                   placeholder="Denominación" value="">
                                        </div>
                                        <div class="form-group">
                                            <label> Productos</label>
                                            <select id="idPro" name="idPro" class="form-control">
                                                <option value=""></option>
                                                {% for producto in productos %}
                                                    <option value="{{ producto }}">{{ producto }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label> Actividades</label>
                                            <select id="idAct" name="idAct" class="form-control">
                                                <option value=""></option>
                                                {% for actividad in actividades %}
                                                    <option value="{{ actividad.0 }}">{{ actividad.1|upper }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <p class="text-left">
                                            <button class="btn btn-success btn_buscar " id="searchOperators"><i
                                                        class="fa fa-search"> &nbsp;Buscar</i></button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>

                <div id="resultados" class="box box-info col-xs-8 hidden">
                    <div class="box-header">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title" style="color:#8CBC9F">Resultados</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="table-responsive">
                        <div class="box-footer" style="display: block;">
                            <div id="successSearchInfo" class="callout callout-success hidden">
                                <span id="successSearchInfoMessage"></span>
                            </div>
                            <div id="errorSearch" class="callout callout-danger hidden">
                                <span id="errorSearchInfoMessage"></span>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                        <table id="listoperators" class="table" data-client="{{ path('admin_useroperator_view') }}">
                            <thead>
                            <tr>
                                <th>Nº Operador</th>
                                <th>Alcance</th>
                                <th>Denominación</th>
                                <th>Estado</th>
                                <th>Teléfono</th>
                                <th>CIF</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


            </div>
        </div>

    </section><!-- /.content -->


{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('app/admin/js/searchOperators.js') }}"></script>
    {% if errormsg is defined %}

        <script type="text/javascript">
            $('#errorSearch').show("slow").text("{{ errormsg }}");
        </script>

    {% endif %}
{% endblock %}