{% extends 'base_full.html.twig' %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Clientes
            <small>Listado de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-group"></i> Clientes</a></li>
            <li class="active">Listado</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">


                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-th-list"></i>

                        <h3 class="box-title">Listado de Clientesssss </h3>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            <b></b>{{ message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            {# sorting of properties based on query components #}
                            <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Usuario', 'u.username') }}</th>
                            <th> Denominación</th>
                            <th{% if pagination.isSorted('u.enabled') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Activo', 'u.enabled') }}</th>
                            <th> Ver</th>
                            </thead>
                            <tbody>
                            {% for userOperator in pagination %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    <td>{{ userOperator.userName }}</td>
                                    <td>{{ userOperator.clientId.clDeno |default('') }}</td>
                                    <td>
                                        <span class="label label-{{ userOperator.enabled == true ? 'success' : 'danger' }}">{{ userOperator.enabled == true ? 'SI' : 'NO' }}</span>
                                    </td>
                                    <td>
                                        <form action="{{ path('admin_useroperator_view') }}" method="post">
                                            <input name="userOperatorId" type="hidden" value="{{ userOperator.id }}"/>
                                            <button type="submit" class="btn btn-xs btn-info"><span
                                                        class="fa fa-eye"></span> Ver
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>

                </div>
                <!-- /.box -->
            </div>
        </div>

    </section><!-- /.content -->

{% endblock %}
