{% extends 'base_full.html.twig' %}

{% block title %}Mostrar NopTransform{% endblock %}

{% block content %}
    <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-user"></i>

                        <h3 class="box-title">Mapa de número de expediente</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Identificador</th>
                <td>{{ nop_transform.id }}</td>
            </tr>
            <tr>
                <th>Número de expediente</th>
                <td>{{ nop_transform.opNop }}</td>
            </tr>
            <tr>
                <th>Número de expediente trasformado</th>
                <td>{{ nop_transform.opNopTransform }}</td>
            </tr>
        </tbody>
    </table>

    

    <a class="btn btn-success" href="{{ path('nop_transform_edit', {'id': nop_transform.id}) }}"><i class="fa fa-save"></i> Editar</a>

    {{ include('nop_transform/_delete_form.html.twig') }}

    <div  style="margin:1em 0;">
        <a class="btn btn-success" href="{{ path('nop_transform_index') }}">Volver al listado</a>
    </div>
    </div>
    </div>
{% endblock %}
