{% extends 'base_private.html.twig' %}
{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Clientes
            <small>Perfil de Cliente</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-group"></i> Clientes</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">


                <div class="box box-info">
                    <div class="box-header">
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button class="btn btn-danger btn-sm" data-widget="collapse" data-toggle="tooltip" title=""
                                    data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                        <!-- /. tools -->
                        <i class="fa fa-user"></i>

                        <h3 class="box-title">Perfil de Cliente </h3>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            <b></b>{{ message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-footer" style="display: block;">

                    </div>
                    <!-- /.box-footer -->
                </div>

                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-th-list"></i>

                        <h3 class="box-title">Expediente </h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">

                        <div><label>Nº Operador: </label><span> {{ operator.opNop }} </span></div>
                        <div><label>Denominación: </label><span> {{ operator.opDenoop }} </span></div>
                        {% if operator.opSreg == 'PAE' and operator.opReg == 1 %}
                            <div>
                                <label>Alcance: </label><span> PRODUCTOS UTILIZABLES EN PRODUCCION ECOLOGICA </span>
                            </div>
                        {% elseif operator.opSreg == 'PAE' and operator.opReg == 9 %}
                            <div>
                                <label>Alcance: </label><span> PRODUCTOS UTILIZABLES EN PLIEGO PRIVADO </span>
                            </div>
                        {% else %}
                            <div><label>Alcance: </label><span> {{ operator.opRegistro.reDeno|default('') }}
                                    ({{ operator.opSubregistro.reDeno|default('') }}) </span></div>
                        {% endif %}
                        {% if estado is defined and estado != '' %}
                            <div><label>Estado: </label><span> {{ estado }} </span></div>
                        {% endif %}
                        <div><label>Auditor asignado: </label><span> {{ operator.opTecdeno }} </span></div>
                        <div><label>Email auditor: </label><span> {{ operator.opTecema }} </span></div>
                        <div><label>Última auditoria: </label><span> {{ operator.opFaud }} </span></div>
                        {% if normativas is defined and normativas|length > 0 %}
                            <div><label>Normativa: </label></div>
                            {% for norma in normativas %}
                                <p>- {{ norma.normaNormativa | default('') }} </p>
                            {% endfor %}

                        {% endif %}

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                {% if info is defined and info['rlEntity'] is defined %}
                    <div class="box box-info">
                        <div class="box-header">
                            <i class="fa fa-th-list"></i>

                            <h3 class="box-title"></h3>
                        </div>
                        <!-- .box-header-->
                        <div class="box-body">

                            {% if info['rlEntity'] == "ProductosPae" %}
                                <div><label>Productos utilizables en agricultura ecológica</label></div>
                                {% for productoPae in operator.opProductosPae %}
                                    
                
                                    {% if productoPae.pipEst is defined %}
                                     {% if  productoPae.pipEst != 'DL' and productoPae.pipEst != 'B'%}
                                        <br>
                                        <div><label>Marca Comercial: </label><span> {{ productoPae.pipPro }} </span></div>
                                        <div><label>Descripción: </label><span> {{ productoPae.pipDsc }} </span></div>

                                    {#<div><label>Tipo de Producto: </label><span> {{ productoPae.pipTpp }} </span></div>#}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "Ganaderias" %}
                                {% set mostrados = [] %}
                                <div><label>Productos:</label></div>
                                {% for ganaderia in operator.opGanaderias %}
                                    {% if ganaderia.gnProductosG.pnDeno is defined %}
                                        {% if ganaderia.gnProductosG.pnDeno | default('') not in mostrados and ganaderia.gnProductosG.pnEst != 'DL' and ganaderia.gnProductosG.pnEst != 'B' %}
                                            <div>
                                                <label>- </label><span> {{ ganaderia.gnProductosG.pnDeno | default('') }} </span>
                                            </div>
                                            {% set mostrados = mostrados|merge([ganaderia.gnProductosG.pnDeno | default('')]) %}
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "CultivosRec" %}
                                {% set mostrados = [] %}
                                <div><label>Productos:</label></div>
                                {% for cultivoRec in operator.opCultivosRec %}
                                    {% if cultivoRec.ruProducto.ptDeno is defined and cultivoRec.ruProducto.ptEst == 'L' and cultivoRec.ruProducto.ptEst != 'B' and cultivoRec.ruProducto.ptEst != 'DL' %}
                                        {% if cultivoRec.ruProducto.ptDeno | default('') not in mostrados %}
                                            <div>
                                                <label>- </label><span> {{ cultivoRec.ruProducto.ptDeno | default('') }} </span>
                                            </div>
                                            {% set mostrados = mostrados|merge([cultivoRec.ruProducto.ptDeno | default('')]) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "CultivosRec2" %}
                                {% set mostrados = [] %}
                                <div><label>Cultivos: </label></div>
                                {% for cultivoRec2 in operator.opCultivosRec2 %}
                                    {% if cultivoRec2.ru2Cultivos.cuDeno is defined %}
                                        {% if cultivoRec2.ru2Cultivos.cuDeno | default('') not in mostrados and ganaderia.ru2Cultivos.ptEst != 'DL' and ganaderia.gnProductosG.ptEst != 'B' %}

                                            <div>
                                                <label>- </label><span> {{ cultivoRec2.ru2Cultivos.cuDeno | default('') }} </span>
                                            </div>
                                            {% set mostrados = mostrados|merge([cultivoRec2.ru2Cultivos.cuDeno | default('')]) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "AvesCorral" %}
                                <div><label>Aves de corral</label></div>
                                {% for avecorral in operator.opAvesCorral %}
                                    {% if operator.opAvesCorral is defined %}
                                    <br>
                                    <div><label>Especie: </label><span> {{ avecorral.avcEsp }} </span></div>
                                    <div><label>Raza: </label><span> {{ avecorral.avcTpn }} </span></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "IAvesCorral" %}
                                <div><label>Industria de aves de corral</label></div>
                                {% for iavecorral in operator.opIAvesCorral %}
                                    <br>
                                    <div><label>Marca: </label><span> {{ iavecorral.aviMar }} </span></div>
                                    <div><label>Producto: </label><span> {{ iavecorral.aviPrd }} </span></div>
                                    <div><label>Variedad: </label><span> {{ iavecorral.aviVar }} </span></div>
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "ProductosIndus" %}
                                <div><label>Productos industriales</label></div>
                                {% for productoindus in operator.opProductosIndus %}
                                    <br>
                                    <div><label>Marca: </label><span> {{ productoindus.piMarca }} </span></div>
                                    {% if productoindus.piDpro is defined %}
                                        <div><label>Producto: </label><span> {{ productoindus.piDpro }} </span></div>
                                    {% else %}
                                        <div><label>Producto: </label><span> {{ productoindus.piPro }} </span></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if info['rlEntity'] == "Industrias" %}
                                {% set mostrados = [] %}
                                
                                <div><label>Actividad:</label></div>
                                {% for industrias in operator.opIndustrias %}
                                    {% if industrias.inActividadI.ainDeno is defined %}
                                        {% if industrias.inActividadI.ainDeno  | default('') not in mostrados and industrias.inActividadI.inSitr != 'DL' and industrias.inActividadI.inSitr != 'B' %}
                                            <div><label> - </label><span> {{ industrias.inActividadI.ainDeno }} </span>
                                            </div>
                                            {% set mostrados = mostrados|merge([industrias.inActividadI.ainDeno | default('')]) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if info['rlEntity'] == "Operator" %}
                             
                                {% if (info['rlInfo'] == "GGN") and (operator.opTpex != 'P' )  and (operator.opSreg=='1OP') %}
                                    <div><label>Codigo GGN: </label><span> {{ operator.opNrgap }} </span></div>
                                {% endif %}
                                {% if operator.opAct != '' %}
                                    <div><label>Actividad:</label></div>
                                    <div><label> - </label><span> {{ operator.opAct }} </span></div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 pull-left" align="left"><span>Última modificación el
                                        {% if operator.updatedDate != null %}{{ operator.updatedDate|date("d/m/Y") }}
                                        {% else %}
                                            {{ operator.createdDate|date("d/m/Y") }}
                                        {% endif %}</span>
                                </div>
                                <div class="col-xs-12 col-md-6 pull-right" align="right">
                                    {% if updateLog is not null %}
                                        <span>Última actualización el: {{ updateLog.timeStamp|date('d/m/Y') }}
                                 </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if operator.opEst == 'P' %}
                <div class="callout callout-danger">
                    <label>Estado: </label><span> {{ estado }} </span>
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title"> Documentos </h3>
                    </div>
                     <div class="box-body">

                        <div class="row">
                            <div class="input-group-btn">
                                <form id="listDocExpFacturas" class="col-xs-12 col-md-6"
                                action="{{ path('private_billing_doclist') }}"
                                            method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="facturas"/>
                                    <button id="docExp" class="pull-right btn btn-block btn-info"><i
                                            class="fa fa-files-o"></i>
                                                Facturas
                                    </button>
                                </form>
                                <form id="listDocExpCartas" class="col-xs-12 col-md-6"
                                      action="{{ path('private_certificate_downloadlast') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="cartas"/>
                                    <button id="docExp" class="pull-right btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Última Comunicación Comisión
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                        
                {% else %}
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title"> Documentos <small>+ {{visitas}} Visitas a Última Comunicación Comisión</small></h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">

                        <div class="row">
                            <div class="input-group-btn">
                                <form id="listDocExpCertificados" class="col-xs-12 col-md-6"
                                      action="{{ path('private_billing_doclist') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="certificados"/>
                                    <button id="docExp" class="pull-left btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Certificados
                                    </button>
                                </form>
                                <form id="listDocExp" class="col-xs-12 col-md-6"
                                      action="{{ path('useroperator_expediente_analisis') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="analisis"/>
                                    <button id="docExp" class="pull-right btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Análisis
                                    </button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="input-group-btn">
                            <div class="row">
                                <form id="listDocExpCartas0" class="col-xs-12 col-md-6"
                                      action="{{ path('private_certificate_downloadlast') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="opNop" type="hidden" value="{{ operator.opNop }}"/>
                                    <input name="query" type="hidden" value="cartas"/>
                                    <button id="docExp" class="pull-right btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Última Comunicación Comisión
                                    </button>
                                </form>
                                <form id="listDocExpFacturas" class="col-xs-12 col-md-6"
                                      action="{{ path('private_billing_doclist') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="facturas"/>
                                    <button id="docExp" class="pull-right btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Facturas
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- MNN Añadimos el nuevo boton de conclusiones de auditoria -->
                        <br>
                        <div class="input-group-btn">
                            <div class="row">
                                {# Conclusiones de auditoria  #}
                                <form id="listDoCconclusiones" class="col-xs-12 col-md-6"
                                      action="{{ path('private_billing_doclistAudi') }}"
                                      method="post">
                                    <input name="opId" type="hidden" value="{{ operator.id }}"/>
                                    <input name="query" type="hidden" value="conclusiones"/>
                                    <button id="docExp" class="pull-left btn btn-block btn-info"><i
                                                class="fa fa-files-o"></i>
                                        Conclusiones de auditoria
                                    </button>
                                </form>
                                
                            </div>

                        </div>
                        <!-- FIN MNN -->
                        <!-- /.box-body -->
                    </div>
                    {% endif %}
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </section><!-- /.content -->
<script>
        setInterval('window.location.reload()', 10000);
    </script>
{% endblock %}