{% extends 'base_private.html.twig' %}
{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Clientes
            <small>Perfil de Cliente</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-group"></i> Clientes</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">


                <div class="box box-info">
                    <div class="box-header">
                        <!-- tools box -->
                        {#<div class="pull-right box-tools">#}
                        {#<button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title=""#}
                        {#data-original-title="Collapse"><i class="fa fa-minus"></i></button>#}
                        {#</div>#}
                        <!-- /. tools -->
                        <i class="fa fa-user"></i>

                        <h3 class="box-title">Perfil de Cliente </h3>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            <b></b>{{ message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-footer" style="display: block;">

                    </div>
                    <!-- /.box-footer -->
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-user"></i>

                        <h3 class="box-title">Datos de Cliente </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if userOperator.clientId is defined %}
                            <div>
                                <div><label>Denominacion: </label><span> {{ userOperator.clientId.clDeno }} </span>
                                </div>
                                {#<div><label>Actividad: </label><span> {{userOperator.clientId.clActi}} </span></div>#}
                                <div>
                                    <label>Domicilio: </label><span> {{ userOperator.clientId.clDom }} </span>
                                </div>
                                <div>
                                    <label>Localidad: </label><span> {{ userOperator.clientId.clPob }} </span>
                                </div>
                                <div>
                                    <label>Provincia: </label><span> {{ userOperator.clientId.clProv }} </span>
                                </div>
                                <div>
                                    <label>Código Postal: </label><span> {{ userOperator.clientId.clCdp }} </span>
                                </div>
                                {% if userOperator.clientId.contact is not null %}
                                    <div>
                                        <label>Contacto: </label><span> {{ userOperator.clientId.contact.cnDeno|default('') }}
                                            {{ userOperator.clientId.contact.cnApe1|default('') }} {{ userOperator.clientId.contact.cnApe2|default('') }} </span>
                                    </div>
                                {% endif %}
                                <div><label>Teléfono: </label><span> {{ userOperator.clientId.clTel }} </span></div>
                                <div><label>Fax: </label><span> {{ userOperator.clientId.clFax }} </span></div>
                                <div><label>Email: </label><span> {{ userOperator.clientId.clEma }} </span></div>

                            </div>
                            <div align="right">
                                {#<span>Actualizado el#}
                                {#{% if userOperator.clientId.updatedDate != null %}{{ userOperator.clientId.updatedDate|date("d/m/Y") }}#}
                                {#{% else %}#}
                                {#{{ userOperator.clientId.createdDate|date("d/m/Y") }}#}
                                {#{% endif %}#}
                                {#</span>#}

                                {% if updateLog is not null %}
                                    <span>Actualizado el: {{ updateLog.timeStamp|date('d/m/Y') }}
                                 </span>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="display: block;">
                        <form class="col-md-12"
                              action="{{ path('private_useroperator_edit') }}"
                              method="post">
                            <button id="docExp" class="pull-right btn btn-info"><i class="fa fa-refresh"></i>
                                Modificar contraseña
                            </button>
                        </form>
                    </div>
                    <!-- /.box-footer -->
                </div>
                {#<div class="box box-info">#}
                {#<div class="box-header">#}
                {#<i class="fa fa-th-list"></i>#}

                {#<h3 class="box-title">Listado de Operadores </h3>#}
                {#</div>#}
                {#<!-- /.box-header -->#}

                {#<div class="box-body">#}
                {#<table id="listoperators" class="table">#}
                {#<thead>#}
                {#<tr>#}
                {#<th>Nº Operador</th>#}
                {#<th>Alcance</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#{% if userOperator.operators is defined %}#}
                {#{% for op in userOperator.operators %}#}
                {#<tr>#}
                {#<td>#}
                {#{{ op.opNop }}#}
                {#<a href="{{ path('private_show_operator', {'id': op.id }) }}">{{ op.opNop }}</a>#}
                {#</td>#}
                {#<td>{{ op.opRegistro.reDeno }}</td>#}
                {#</tr>#}
                {#{% endfor %}#}
                {#{% endif %}#}
                {#</tbody>#}
                {#</table>#}
                {#</div>#}
                {#<!-- /.box-body -->#}
                {#</div>#}
                {#<!-- /.box -->#}
            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}