{% extends 'base.html.twig' %}
{% trans_default_domain 'message' %}

{% block content %}
<div id="contain">

  


    <div id="contain2" class="login-logo center"><img id="logo" src="https://sohiscert.com/wp-content/uploads/2018/07/logo-vector-sohiscert.jpg"></div>
        <br>&nbsp;</br>
        <div class="center" align="center">Cambio de contraseña</div>
        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            <b></b>{{ message }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
        <br>&nbsp;</br>

        {{ form_start(form, { 'action': path('resetting_final', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

            <div class="form-group {% if form.password.first.vars.valid==false %}has-error{% endif %}">
                            {{form_row(form.password.first)}}

                            <div id="error_password" class="error-block"><span
                                        class="label label-danger">{{ form_errors(form.password.first) }}</span>
                            </div>
                        </div>
            

                        <div class="form-group {% if form.password.second.vars.valid==false %}has-error{% endif %}">
                            {{form_row(form.password.second)}}

                            <div id="error_password" class="error-block"><span
                                        class="label label-danger">{{ form_errors(form.password.second) }}</span>
                            </div>
                        </div>

            <br>&nbsp;</br>

            <div class="footer">
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary btn-block btn-flat"/>
            </div>

        {{ form_end(form) }}

</div>
{% endblock %}




